<div id="carouselSlides" class="carousel slide" data-ride="carousel">
<!-- スライドさせる画像の設定 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/assets/tennis.jpg" alt="テニス">
    </div><!-- /.carousel-item -->
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/meeting.jpg" alt="会議室">
    </div><!-- /.carousel-item -->
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/gymnasuim.jpg" alt="体育館">
    </div><!-- /.carousel-item -->
  </div><!-- /.carousel-inner -->
</div><!-- /.carousel -->


<div>
  <h1  style="margin-top:1em; color:#91a0d8;"><i class="fas fa-info-circle"></i>お知らせ</h1>
  <div class=" text-white rounded p-3" style="background-color:#91a0d8; margin:1em;" >
  <p>令和 2年 5月 6日</p>
  <p>【重要】公共施設の予約申込について<br>
    新型コロナウイルス関連肺炎感染拡大防止のため、市公共施設について、5月31日まで休館しております。
    それに伴い、予約申込における窓口での正式な施設利用予約（本申請）の手続き期間を延長しております。
    詳しくは、ご利用の各施設へお問合せください。</p>
  </div>
  <div class="text-white rounded p-3" style="background-color:#91a0d8; margin:1em;">
  <p>令和 2年 5月 3日</p>
  <p>【重要】新型コロナウイルス関連肺炎への対応について<br>
市公共施設について、休館期間を５月３１日まで延長することに決まりました。
新型コロナウイルスの感染拡大を防ぐために、ご理解とご協力をいただきますようお願いいたします。
なお、休館中も受付業務については行っておりますので、利用料の返還手続き等ご不明な点がございましたら、ご利用の各施設へお問合せください。
（休館期間中は、受付業務の対応時間が変更となっている施設がありますのでご注意ください）。</p>
</div>
</div>