/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a:link { color: white; text-decoration: none; }
a:visited { color: white; text-decoration: none; }
a:hover { color: #1f50c7; text-decoration: none; }
a:active { color: white; text-decoration: none; }

.dropdown-menu a{
    color: #495152 !important;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

#edit .btn {
background-color: #91a0d8;
color: white;
}
 
.navbar {
  background-color: #c1d3ea;
}
.navbar .navbar-brand {
  color: #1f50c7;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #495152;
}
.navbar .navbar-text {
  color: #1f50c7;
}
.navbar .navbar-text a {
  color: #495152;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #495152; 
}
.navbar .navbar-nav .nav-link {
  color: #1f50c7;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #495152;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #495152;
  background-color: #91a0d8;
}
.navbar .navbar-toggle {
  border-color: white;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: white;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: white;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #1f50c7;
}
.navbar .navbar-link {
  color: #1f50c7;
}
.navbar .navbar-link:hover {
  color: #495152;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #1f50c7;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #495152;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #495152;
    background-color: #91a0d8;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #1f50c7;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #495152;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #495152;
    background-color: #91a0d8;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #1f50c7;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #495152;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #495152;
    background-color: #91a0d8;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #1f50c7;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #495152;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #495152;
    background-color: #91a0d8;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #1f50c7;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #495152;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #495152;
  background-color: #91a0d8;
}